/* all */
@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Hiragino Mincho ProN", Meiryo, sans-serif;
  color: #333;
  background-color: ghostwhite;
}

*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* header */
.header {
  padding: 20px 20px 15px;
  background-color: darkblue;
}

.header .logo {
  text-align: center;
  font-size: 4rem;
}

.header .logo > a {
  color: white;
}

.header .nav-wrapper {
  margin-top: 20px;
  text-align: center;
}

.header .nav-wrapper > ul {
    padding: 0;
}

.header .nav-item {
  display: inline-block;
  margin: 0 10px;
}

.header .nav-item a {
  display: inline-block;
  width: 120px;
  height: 30px;
  background-color: white;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: bold;
  color: darkblue;
  line-height: 30px;
  transition: all 0.15s;
}

.header .nav-item a:hover,
.header .nav-item.active a {
  background-color: gold;
}

.header .logo .fa-bolt {
  margin-left: 7px;
  color: gold;
}

/* main */
.main {
  width: 1200px;
  margin: 50px auto;
}

/* main-menu */
.main-menu {
  float: left;
  width: 800px;
}

.topic {
  height: 400px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0 0 5px gray;
  overflow: hidden;
  position: relative;
}

.topic a {
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.15s;
}

.topic a:hover {
  opacity: 0.8;
}

.topic .image {
  width: 100%;
  opacity: 0.2;
}

.topic .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 68px;
  color: dimgray;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.3;
}

.topic .data {
  position: absolute;
  top: 70px;
  left: 68px;
  color: dimgray;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.news {
  margin-bottom: 50px;
  box-shadow: 0 0 5px gray;
}

.news .heading {
  margin: 0;
  padding: 10px 15px;
  background-color: rgba(220, 20, 60);
  color: ghostwhite;
  font-size: 2rem;
}

.news-list {
  margin: 0;
  padding: 0;
  max-height: 220px;
  overflow-y: auto;
  list-style-type: none;
}

.news-list .news-item a {
  display: block;
  padding: 10px 15px;
  color: #333;
  background-color: white;
  transition: opacity 0.15s;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-list .news-item:nth-of-type(even) a {
  background-color: gainsboro;
}

.news-list .news-item a:hover {
  opacity: 0.8;
}

.news-list .data {
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
}

.news-list .category {
  display: inline-block;
  background-color: orange;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 20px;
  width: 60px;
  text-align: center;
  margin: 0 20px;
}

.news-list .category.clm {
  background-color: yellowgreen;
}

.news-list .title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.column-box {
  display: block;
  width: 380px;
  height: 500px;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 0 0 5px gray;
  transition: opacity 0.15s;
  position: relative;
}

.column-box:hover {
  opacity: 0.8;
}

.column-box:nth-of-type(odd) {
  float: left;
}

.column-box:nth-of-type(even) {
  float: right;
}

.column-box .image {
  width: 100%;
  height: 65%;
}

.column-box .title {
  margin: 20px;
  color: dimgray;
  font-size: 1.8rem;
}

.column-box .desc {
  display: block;
  margin: 0 20px 0;
  color: dimgray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column-box .data {
  display: block;
  position: absolute;
  bottom: 15px;
  right: 0;
  width: 160px;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 1px;
  color: ghostwhite;
  font-weight: bold;
  background-color: yellowgreen;
}

/* side-menu */
.side-menu {
  float: right;
  width: 333px;
}

.search {
  margin: 0 0 50px;
  position: relative;
}

.search-text {
  width: 281px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 2rem;
  position: relative;
}

.search-button {
  width: 53px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 280px;
  padding: 0;
  border: none;
  background-color: silver;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  opacity: 0.8;
}

.ranking {
  padding: 5px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0 0 5px gray;
}

.ranking .heading {
  margin: 10px 0 0 10px;
  font-size: 3rem;
  letter-spacing: 1px;
  color: dimgray;
}

.ranking-list {
  padding-left: 60px;
  list-style-type: none;
  counter-reset: ranking;
}

.ranking-list .ranking-item {
  margin-top: 25px;
}

.ranking-list .ranking-item:last-of-type {
  margin-bottom: 10px;
}

.ranking-list .ranking-item a {
  display: block;
  transition: opacity 0.15s;
}

.ranking-list .ranking-item a:hover {
  opacity: 0.8;
}

.ranking-list .image {
  width: 100px;
  height: 80px;
  margin-right: 0;
}

.ranking-list .text {
  display: inline-block;
  width: 182px;
  color: dimgray;
  vertical-align: top;
  font-size: 1.5rem;
  line-height: 1.5;
}

.ranking-list .order {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 20px 0 0;
  vertical-align: 35px;
  border: 1px solid #ccc;
  border-radius: 50%;
  color: #aaa;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
}

.ranking-list .ranking-item:nth-of-type(1) .order,
.ranking-list .ranking-item:nth-of-type(2) .order,
.ranking-list .ranking-item:nth-of-type(3) .order {
  border: none;
  color: #fff;
  font-weight: normal;
  line-height: 30px;
}

.ranking-list .ranking-item:nth-of-type(1) .order {
  background-color: tan;
}

.ranking-list .ranking-item:nth-of-type(2) .order {
  background-color: silver;
}

.ranking-list .ranking-item:nth-of-type(3) .order {
  background-color: peru;
}

.ranking-list .order::before {
  content: counter(ranking);
  counter-increment: ranking;
  display: inline-block;
  font-size: 1.7rem;
}

.document {
  padding: 5px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0 0 5px gray;
}

.document .heading {
  margin: 10px 0 0 10px;
  font-size: 3rem;
  letter-spacing: 1px;
  color: dimgray;
}

.document-list,
.document-list ul {
  list-style-type: none;
}

.document-list {
  padding-left: 60px;
}

.document-list .title {
  margin: 25px 0 0 0;
  padding-left: 5px;
  border-left: 20px solid #6495ed;
  font-size: 2rem;
  color: dimgray;
}

.document-list > li ul {
  margin: 10px 0 0 40px;
  padding-left: 0;
}

.document-list a {
  font-size: 1.7rem;
  color: dimgray;
  line-height: 1.5;
}

.document-list a:hover {
  opacity: 0.8;
}

.document-list > li:last-of-type {
  margin-bottom: 10px;
}

/* footer */
.footer {
  padding: 50px;
  background-color: lightgray;
  color: ghostwhite;
  font-size: 2rem;
  text-align: center;
}

/* responsive */
@media (max-width: 1265px) {
  .main {
    width: 1000px;
  }

  .main-menu {
    width: 600px;
  }

  .topic {
    height: 300px;
  }

  .topic .content {
    font-size: 3rem;
  }

  .topic .data {
    top: 60px;
    font-size: 1.5rem;
  }

  .news-list .data {
    font-size: 1.3rem;
  }

  .news-list .category {
    font-size: 1.2rem;
    line-height: 18px;
    margin: 0 15px;
  }

  .news-list .title {
    font-size: 1.3rem;
  }

  .column-box {
    width: 280px;
    height: 350px;
  }

  .column-box .title {
    margin: 10px;
    color: dimgray;
    font-size: 1.5rem;
  }

  .column-box .desc {
    font-size: 1.3rem;
  }

  .column-box .data {
    bottom: 10px;
    width: 140px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 1.3rem;
  }

  .side-menu {
    width: 300px;
  }

  .search {
    margin-bottom: 40px;
  }

  .search-text {
    width: 253px;
    height: 40px;
    font-size: 2rem;
  }

  .search-button {
    width: 50px;
    height: 40px;
    left: 250px;
  }

  .ranking .heading {
    font-size: 0;
  }

  .ranking .heading::before {
    content: '人気記事TOP3';
    font-size: 2.5rem;
  }

  .ranking-list .ranking-item:nth-of-type(n+4) {
    display: none;
  }

  .document .heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 1024px) {
  .header .nav-item a {
    transition: none;
  }

  .header .nav-item a:hover {
    background-color: white;
  }

  .main {
    margin-top: 100px;
    width: 700px;
    position: relative;
  }

  .main-menu,
  .side-menu {
    float: none;
    margin: 0 auto;
  }

  .topic a {
    transition: none;
  }

  .topic a:hover {
    opacity: 1;
  }

  .column {
    margin-bottom: 10px;
  }

  .column-box {
    transition: none;
  }

  .column-box:hover {
    opacity: 1;
  }

  .side-menu {
    width: 600px;
  }

  .search {
    position: absolute;
    top: -75px;
    left: 50px;
  }
  
  .ranking-list {
    padding-left: 100px;
  }
  
  .ranking-list .ranking-item {
    display: inline-block;
  }

  .document-list > li {
    display: inline-block;
    width: 230px;
  }

  .document-list a:hover {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .header .logo {
    font-size: 3rem;
  }

  .header .nav-item a {
    width: 100px;
    height: 25px;
    line-height: 25px;
  }

  .footer {
    padding: 30px;
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  .header {
    padding: 15px 10px 7px;
  }

  .header .logo {
    font-size: 2rem;
  }

  .header .nav-wrapper {
    margin-top: 10px;
  }

  .header .nav-item {
    display: inline-block;
    margin: 0 5px 7px;
  }

  .header .nav-item a {
    display: inline-block;
    width: 100px;
    height: 25px;
    font-size: 1.3rem;
    line-height: 25px;
  }

  .main {
    margin-top: 75px;
    width: 250px;
  }

  .main-menu,
  .side-menu {
    width: 250px;
  }

  .topic {
    height: 125px;
  }

  .topic .content {
    left: 20px;
    font-size: 1.4rem;
    line-height: 1.1;
  }

  .topic .data {
    top: 20px;
    left: 20px;
    font-size: 1.0rem;
    letter-spacing: 0.3px;
  }

  .news .heading {
    padding: 7px 10px;
    background-color: rgba(220, 20, 60);
    color: ghostwhite;
    font-size: 1.7rem;
  }

  .news-list .data {
    font-weight: normal;
  }

  .news-list .news-item a {
    padding: 10px 10px;
  }

  .news-list .data {
    margin-left: 0;
  }

  .news-list .category {
    font-size: 1.2rem;
    line-height: 15px;
    border-radius: 3px;
    margin: 0 7px;
  }

  .column-box {
    width: 250px;
    height: 320px;
  }

  .column-box .title {
    font-size: 1.3rem;
  }

  .column-box .desc {
    font-size: 1.2rem;
  }

  .column-box .data {
    width: 120px;
    font-size: 1rem;
  }

  .search {
    position: absolute;
    top: -55px;
    left: 0;
  }

  .search-text {
    width: 213px;
    height: 30px;
    font-size: 1.3rem;
  }

  .search-button {
    width: 40px;
    height: 30px;
    left: 210px;
  }
  
  .ranking-list {
    padding-left: 25px;
  }

  .ranking .heading::before {
    font-size: 2rem;
  }

  .ranking-list .text {
    font-size: 1.3rem;
  }

  .document .heading {
    font-size: 2rem;
  }
  
  .document-list {
    padding-left: 25px;
  }
  
  .document-list > li {
    width: 200px;
  }

  .document-list .title {
    font-size: 1.7rem;
    border-left: 17px solid #6495ed;
  }

  .document-list a {
    font-size: 1.4rem;
  }

  .footer {
    padding: 20px;
    font-size: 1rem;
  }
}
